html
  head
    link(rel='stylesheet' href='./css/style.css')
    title
  body
    header.header
      h1.header-title.hidden
      nav.header-menu
        ul.header-menu-list
          li.header-menu-item
            a.header-logo
              img(src='./img/logo.png')
          li.header-menu-item
            a(href='#') Новости
          li.header-menu-item
            a(href='#') Информация
          li.header-menu-item
            a(href='#') Собрания
          li.header-menu-item
            a(href='#') Телефоны
          li.header-menu-item
            a(href='#') Контакты
          li.header-menu-item
            a(href='#') Объявления
    main
      section.news

      section.widget
        div.widget-top
        div.widget-center
        div.widget-bot
    footer.footer
      div.footer-info
      div.footer-copyright
